<div class="col-md-offset-3 col-md-6">
  <h2>本の感想を共有するアプリです！</h2>
    　
  <div class="btn-wrapper">
    <div class="row">
      <%=link_to"Log in",new_user_session_path,class: "btn btn-info col-xs-10 col-xs-offset-1" %>
    </div>
    <div class="row">
      <%=link_to"Sign up",new_user_registration_path,class: "btn btn-success col-xs-10 col-xs-offset-1 sign_up" %>
    </div>
  </div>
</div>
